html
{
    background-color: lightslategrey;

}


body
{
    background-color: azure;
    font-family: sans-serif;
    max-width: 600px;
    margin: auto;
}


h1
{
    color: purple;
    text-align: center;
}

div
{
    border: 1px solid purple;
    border-radius: 15px;
}

#bob
{
    color: darkgreen;
}

.two
{
    font-size: larger;
}
.three
{
    font-size: smaller;
}

#billy
{
    color: darkred;
}

#bob .two a
{
    color:gold;
    text-decoration: underline overline;
}



#bob a
{
    text-decoration: line-through;
}